@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Roboto+Mono');

html {
  height: 100%;
  background-color: #22272C;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  min-height: 100%;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #22272C;
  color: #FFF;
  word-wrap: normal;
  background-image: url('background.svg');
}

h1 {
  font-weight: 300;
  font-size: 3.5em;
}

.geeky {
  font-family: "Roboto Mono";
}

.cool {
  color:#129EE6;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.white-text {
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

section {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

section.hero {
  padding: 5em;
  padding-bottom: 0em;
}

section.hero .message {
  margin-top: 4em;
}

h1.heading {
  font-weight: 100;
}

section.hero h1.heading {
  margin: 0;
  margin-top: 3em;
}

section.hero .message p {
  font-size: 16px !important;
  color: #aaa;
}

section.prize {
  padding: 3em;
  background-color: #fff;
}

.brand {
  width: 200px;
}

section.competition-details {
  padding: 4em;
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  max-width: 100% !important;
  color: #333;
}

section .container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}



@media all and (min-width:481px) {

}

@media all and (min-width:769px) {

}
